<button class="accordion">JS</button>
<div class="panel">
    <table>
        <tr>
            <th>Host</th>
             <th>Browser</th>
            <th>File Name</th>
            <th>Message</th>
        </tr>
        <% data.forEach(function(content){ %>
        <% if (content.type === 'JS') { %>
            <tr>
                <td>
                    <%= content.host %>
                </td>
                <td>
                    <%= content.browser %>
                </td>             
                <td>
                    <%= content.frames[0].filename %>
                </td>
                <td>
                    <%= content.message %>
                </td>
            </tr>
          <% } %>
            <% }) %>
    </table>

</div>

<button class="accordion">4XX</button>
<div class="panel">
    <table>
        <tr>
            <th>Host</th>
            <th>Browser</th>
            <th>Status code</th>
            <th>Url</th>
        </tr>
        <% data.forEach(function(content){ %>
        <% if (content.type === '4XX') { %>
            <tr>
                <td>
                    <%= content.host %>
                </td>
                <td>
                    <%= content.browser %>
                </td>
                <td>
                    <%= content.frames[0].status_code %>
                </td>
                <td>
                    <%= content.frames[0].url %>
                </td>

            </tr>
            <% } %>
         <% }) %>
    </table>
</div>

<button class="accordion">5XX</button>
<div class="panel">
    <table>
        <tr>
            <th>Host</th>
             <th>Browser</th>
            <th>Status code</th>
            <th>Url</th>
        </tr>
        <% data.forEach(function(content){ %>
          <% if (content.type === '5XX') { %>
            <tr>

                <td>
                    <%= content.host %>
                </td>
                 <td>
                    <%= content.browser %>
                </td> 
                 <td>
                    <%= content.frames[0].status_code %>
                </td>
                 <td>
                    <%= content.frames[0].url %>
                </td>

            </tr>
        <% } %>
            <% }) %>
    </table>
</div>
