<button class="accordion">JS</button>
<div class="panel">
    <table>
        <tr>
            <th>HOST</th>
            <th>File Name</th>
            <th>Message</th>
        </tr>
        <% data.forEach(function(content){ %>
            <tr>
                <td>
                    <%= content.host %>
                </td>
                <td>
                    <%= content.frames[0].filename %>
                </td>
                <td>
                    <%= content.message %>
                </td>
            </tr>
            <% }) %>
    </table>

</div>

<button class="accordion">4XX</button>
<div class="panel">
    <table>
        <tr>
            <th>HOST</th>
            <th>File Name</th>
            <th>Message</th>
        </tr>
        <% data.forEach(function(content){ %>
            <tr>

                <td>
                    <%= content.host %>
                </td>
                <td>
                    <%= content.frames[0].filename %>
                </td>
                <td>
                    <%= content.message %>
                </td>

            </tr>
            <% }) %>
    </table>
</div>

<button class="accordion">5XX</button>
<div class="panel">
    <table>
        <tr>
            <th>HOST</th>
            <th>File Name</th>
            <th>Message</th>
        </tr>
        <% data.forEach(function(content){ %>
            <tr>

                <td>
                    <%= content.host %>
                </td>
                <td>
                    <%= content.frames[0].filename %>
                </td>
                <td>
                    <%= content.message %>
                </td>

            </tr>
            <% }) %>
    </table>
</div>
